<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/JAVA/idea/workspace/testNg/src/test/java/com/testng/testNGTest.java">
        <groups>
            <run>
                <include name="group1"/>
                <exclude name="group2"/>
            </run>
        </groups>
        <classes>
            <class name="com.testng.testNGTest">
            </class>
        </classes>
    </test>
</suite>